---
layout: default
permalink: /talk/index.html
title: Talks
---
{% include header.html %}

<section class="list">
    {% for post in site.posts %}
        {% if post.talks %}
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ post.link_slide }}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
                {% if post.event %}
                    <span class='event'>Evento: {{post.event}}</span>
                {% endif %}

            </div>
            <hr>
        {% endif %}
    {% endfor %}
</section>

{% include footer.html %}
